#map {
        height: 500px;
        width: 1150px;
        padding: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        text-align: center;
      }

body {
	background-image: url("https://images.alphacoders.com/443/443721.jpg");
}

#section {
	float: left; 
	color: white;
	text-align: center; 
	padding: 5px; 
	height: 200px;
	font-size: 100px;
	font-family: sans-serif;
}